:root {
  --primary-color: #252645;
  --secondary-color: #B2D7E8;
  --dark-color: #2f2f2f; 
  --light-color: #FAF8FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  height: 100%;
  height: 100vh;
  width: 100%;  
  width: 100vw;  
}

.content {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
  width: 100%;  
  width: 100vw;  
}

header,
footer {
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
  width: 100%;  
  width: 100vw;  
}

.container {
  max-width: 1200px;
  margin: auto;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-wrap: wrap;
  background-color: red;
  color: var(--light-color);
  font-size: 30px;
}

.navbar {
  width: 100%;
}

.nav-list {
  list-style-type: none; 
  display: flex; 
  justify-content: space-between; 
  padding: 15px 20px;
}

.nav-list li {
  margin-right: 15px;
}

.nav-list li.nav-right {
  margin-right: 0;
  margin-left: auto;
}

.nav-list a {
  text-decoration: none;
  color: var(--light-color);
}

.form-container {
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  margin: 15px auto;
}

.form-label {
  display: block;
  padding-left: 5px;
}

.form-input {
  margin: 0 5px 20px;
  width: 100%;
  height: 25px;
}

.form-error {
  display: block;
  width: 100%;
  background-color: red;
  color: var(--light-color);
  padding: 15px 5px;
  margin: 10px 0;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  min-width: 90px;
  background-color: var(--light-color);
  display: inline-block;
  border-radius: 20px;
  color: #000;
  border: 1px solid var(--dark-color);
  text-align: center;
  text-decoration: none;
}

.btn-submit {
  padding: 10px 50px;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  color: var(--dark-color);
}

.btn-danger {
  background-color: red;
  border: 1px solid white;
  color: white;
}

.hidden {
  display: none;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th {
  background-color: var(--dark-color);
  color: white;
  padding: 10px;
}

.user-table tbody tr:nth-child(even) {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;  
}

.user-table tbody tr:nth-child(odd) {
  background-color: var(--secondary-color);
  padding: 10px;  
}

td {
  padding: 10px;
  border: 1px solid #fff;
}

tr {
  transition: all 0.3s ease;
}

.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 500px;
}

.background-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;  
  text-align: center;    
}

.modal-body {
  padding: 20px;
}

.code {
  background-color: #303841;
  color: #FFF;
  padding: 10px 20px;
  width: fit-content;
  margin: 10px 0;
}

.bg-gradient {
  padding: 30px;
  background: var(--primary-color);
  background: radial-gradient(at center, var(--primary-color), var(--dark-color));
  border-radius: 15px;
  color: #FFF;
}